# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
*.lock

# Web related
lib/generated_plugin_registrant.dart

# Symbolication for obfuscation
app.*.symbols

# Obfuscation related
app.*.map.json

# Android
.gradle
/local.properties
/.idea
.DS_Store
*.iml
*.class
*.log
/captures/
outputs/

# iOS
Pods/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.lock
DerivedData/

# Misc
*.tmp
*.temp
*.swp
*.swo
